Repository GSA-TTS/violentutf-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-yaml-ci, validate-json-ci, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

validate-yaml-ci:
  name: Validate YAML (matches CI)
  ...

validate-json-ci:
  name: Validate JSON (matches CI)
  entry: python3 -c "import json, sys, glob; files = glob.glob('**/*.json', recursive=True); [json.load(open(f)) for f in files]; print(f'Validated {len(files)} JSON files')"
  language: system
  pass_filenames: false

no-hardcoded-secrets:
  name: Check for hardcoded secrets
  ...

no-print-statements:
  name: Check for print statements
  entry: python3 -c "import re, sys; content = sys.stdin.read(); sys.exit(1 if re.search(r'^\s*print\(', content, re.MULTILINE) else 0)"
  language: system

check-api-security:
  name: Check API security patterns
  ...

ban-test-masking:
  name: üö® Ban Dangerous Test Masking (|| true, etc.)
  entry: .github/scripts/ban-test-masking.py
  language: system
  args:
  - --strict
  pass_filenames: true

workflow-multi-layer-validation:
  name: üîß Multi-Layer Workflow Validation
  entry: .github/scripts/validate-workflow-layers.py
  language: system
  pass_filenames: false

workflow-execution-testing:
  name: üß™ Workflow Execution Testing
  entry: .github/scripts/test-workflow-execution.py
  language: system
  pass_filenames: false

Fix Missing row-level security and Superuser bypass #47
  app/api/base.py
  app/core/context.py
  security_analysis_cache.md
  tests/unit/api/test_api_keys.py
  tests/unit/api/test_sessions.py
  tests/unit/security/test_organization_isolation.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Improve vulnerability data model #47
  alembic/versions/add_vulnerability_management_tables.py
  app/api/endpoints/owasp_llm_classification.py
  app/api/endpoints/security_scans.py
  app/api/endpoints/vulnerability_findings.py
  app/api/endpoints/vulnerability_taxonomies.py
  app/api/routes.py
  app/core/enums.py
  app/db/base.py
  app/models/__init__.py
  app/models/security_scan.py
  app/models/vulnerability_finding.py
  app/models/vulnerability_taxonomy.py
  app/repositories/__init__.py
  app/repositories/security_scan.py
  app/repositories/vulnerability_finding.py
  app/repositories/vulnerability_taxonomy.py
  app/schemas/__init__.py
  app/schemas/base.py
  app/schemas/security_scan.py
  app/schemas/vulnerability_finding.py
  app/schemas/vulnerability_taxonomy.py
  app/services/__init__.py
  app/services/owasp_llm_classifier.py
  tests/unit/repositories/test_vulnerability_taxonomy_repository.py
  tests/unit/services/test_owasp_llm_classifier.py
  vulnerability_implementation_cache.md
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Fix issues with missing API endpoints and improve Async #49
  .env.example
  ASYNC_TASK_IMPLEMENTATION.md
  SETUP_GUIDE.md
  alembic/versions/add_async_task_management_models.py
  analysis_cache.md
  app/api/endpoints/scans.py
  app/api/endpoints/tasks.py
  app/api/routes.py
  app/celery/__init__.py
  app/celery/celery.py
  app/celery/tasks.py
  app/db/session.py
  app/models/__init__.py
  app/models/orchestrator.py
  app/models/plugin.py
  app/models/report.py
  app/models/scan.py
  app/models/security_scan.py
  app/models/task.py
  app/schemas/__init__.py
  app/schemas/scan.py
  app/schemas/task.py
  docker-compose.yml
  implementation_progress.md
  precommit_progress.md
  pyproject.toml
  requirements.txt
  setup_violentutf.sh
  show_endpoints.sh
  tests/api/test_scans_endpoints.py
  tests/api/test_tasks_endpoints.py
  tests/helpers/database.py
  tests/unit/models/test_scan_models.py
  tests/unit/models/test_task_models.py
  tests/unit/services/test_api_key_secrets_integration.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking

Fix celery integration, schema issues, endpoint issues. #49
  app/api/endpoints/plugins.py
  app/api/endpoints/reports.py
  app/api/endpoints/scans.py
  app/api/endpoints/tasks.py
  app/api/endpoints/templates.py
  app/api/routes.py
  app/schemas/report.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Add security related tests #47
  app/models/evidence_document.py
  app/models/vulnerability_taxonomy.py
  app/repositories/vulnerability_taxonomy.py
  tests/integration/test_multi_tenant_security_integration.py
  tests/security/test_security_vulnerability_simulation.py
  tests/unit/models/test_evidence_document_storage.py
  tests/unit/models/test_vulnerability_taxonomy_comprehensive.py
  tests/unit/repositories/test_vulnerability_taxonomy_repository_comprehensive.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

fix: resolve PR validation failures and improve code quality
  .flake8
  .github/workflows/architectural-compliance.yml
  .github/workflows/claude-code-architectural-audit.yml
  app/api/deps.py
  app/api/endpoints/templates.py
  app/core/abac_permissions.py
  app/core/error_dictionary.py
  app/core/errors.py
  app/core/permissions.py
  app/services/api_key_service.py
  app/services/rbac_service.py
  docs/reports/ISSUE_47_COMPLETION_REPORT.md
  docs/reports/ISSUE_47_Security_Results.json
  docs/reports/ISSUE_47_VERIFICATION.md
  docs/reports/ISSUE_47_Verification.ipynb
  docs/reports/ISSUE_49_COMPLETION_REPORT.md
  docs/reports/ISSUE_49_CORRECTED_ANALYSIS.md
  docs/reports/ISSUE_49_VERIFICATION.md
  integration_test_environment_analysis.md
  scripts/run_tests_windows.py
  tests/integration/test_multi_tenant_security_integration.py
  tests/security/test_security_vulnerability_simulation.py
  tests/unit/api/test_deps_simple.py
  tests/unit/core/test_abac_permissions.py
  tests/unit/core/test_rfc7807_errors.py
  tests/unit/test_errors.py
Due: validate-yaml-ci, validate-json-ci, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Add documentation
  .gitignore
  .gitmodules
  docs/reports/ISSUE_24_COMPLETION_REPORT.md
  docs/reports/ISSUE_24_VERIFICATION.md
  running_agent_orchestrator.md
Due: none

Implement Container-based Integration Test system #23
  docker-compose.test.yml
  docs/architecture/ADRs/ADR-012-docker-integration-testing.md
  docs/planning/ISSUE_23/ISSUE_23_ASRs.md
  docs/planning/ISSUE_23/ISSUE_23_plan.md
  docs/reports/ISSUE_23_AnalysisADR.md
  docs/reports/ISSUE_23_IMPLEMENTATION_PROGRESS.md
  docs/reports/ISSUE_50_COMPLETION_REPORT.md
  docs/reports/ISSUE_50_VERIFICATION.md
  docs/testing/DOCKER_TEST_ENVIRONMENT.md
  scripts/health_check.py
  scripts/run_docker_tests.sh
  scripts/wait-for-it.sh
  tests/architecture/test_adr_012_compliance.py
  tests/bdd/features/us_101_docker_environment.feature
  tests/bdd/steps/test_us_101_steps.py
  tests/integration/docker/test_docker_environment.py
  tests/integration/docker/test_health_checks.py
  tools/pre_audit/smart_analyzer.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking

Develop Enhanced PyTestArch Tests for Identified Gaps #52
  .github/workflows/architectural-tests.yml
  .github/workflows/security-ci-validation.yml
  docs/planning/ISSUE_52/ISSUE_52_ASRs.md
  docs/planning/ISSUE_52/ISSUE_52_plan.md
  requirements-dev.txt
  tests/architecture/test_adr_012_compliance.py
  tests/architecture/test_custom_rules.py
  tests/architecture/test_data_access_patterns.py
  tests/architecture/test_dependency_compliance.py
  tests/architecture/test_layer_boundaries.py
  tests/architecture/test_security_patterns.py
Due: validate-yaml-ci, no-hardcoded-secrets, check-api-security, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Add documentations
  .gitignore
  docs/architecture/Agent-Consumable GitHub Issues.md
  docs/reports/ISSUE_52_COMPLETION_REPORT.md
  docs/reports/ISSUE_52_VERIFICATION.md
Due: none

Fix PyTestArch failed tests #52
  app/celery/celery.py
  app/core/config.py
  app/repositories/health.py
  app/services/health_service.py
  docker-compose.test.yml
  tests/architecture/test_custom_rules.py
  tests/architecture/test_data_access_patterns.py
  tests/architecture/test_layer_boundaries.py
  tests/architecture/test_security_patterns.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking

Add AI-agent Consumable Issue Templates #71
  .github/ISSUE_TEMPLATE/01-epic.yml
  .github/ISSUE_TEMPLATE/02-story.yml
  .github/ISSUE_TEMPLATE/03-task.yml
  .github/ISSUE_TEMPLATE/04-bug.yml
  .github/ISSUE_TEMPLATE/05-security.yml
  .github/ISSUE_TEMPLATE/06-performance.yml
  .github/ISSUE_TEMPLATE/07-documentation.yml
  .github/ISSUE_TEMPLATE/08-refactor.yml
  .github/ISSUE_TEMPLATE/09-chore.yml
  .github/ISSUE_TEMPLATE/10-research.yml
  .github/ISSUE_TEMPLATE/README.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/legacy/bug_report.md
  .github/ISSUE_TEMPLATE/legacy/feature_request.md
  .github/ISSUE_TEMPLATE/legacy/security_vulnerability.md
Due: no-hardcoded-secrets, ban-test-masking

fix: Remove number prefixes from issue templates for GitHub compatibility
  .github/ISSUE_TEMPLATE/README.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/chore.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/epic.yml
  .github/ISSUE_TEMPLATE/performance.yml
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/ISSUE_TEMPLATE/research.yml
  .github/ISSUE_TEMPLATE/security.yml
  .github/ISSUE_TEMPLATE/story.yml
  .github/ISSUE_TEMPLATE/task.yml
Due: no-hardcoded-secrets, ban-test-masking

fix: Update deprecated GitHub Actions and fix database type imports
  .github/workflows/architectural-tests.yml
  app/db/types.py
Due: validate-yaml-ci, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Import Agent Orchestrator module
  .gitignore
  .gitmodules
Due: none

Update .gitignore
  .gitignore
Due: none

Implement issue #53
  .pre-commit-config.yaml
  FIX_SUMMARY.md
  IMPLEMENTATION_COMPLETE_ISSUE_53.md
  IMPLEMENTATION_SUMMARY_ISSUE_53.md
  TEST_FIX_SUMMARY.md
  TEST_PATTERN_FIXES.md
  TEST_REFACTORING_SUMMARY.md
  app/api/endpoints/architectural_metrics.py
  app/api/routes.py
  app/celery/tasks.py
  app/core/decorators/circuit_breaker.py
  app/db/session.py
  app/middleware/rate_limiting.py
  app/repositories/api_key.py
  app/repositories/base.py
  app/services/architectural_metrics_service.py
  app/services/architectural_report_generator.py
  app/services/mfa_policy_service.py
  app/services/scheduled_report_service.py
  app/utils/cache.py
  app/utils/email.py
  docs/ARCHITECTURAL_METRICS_FEATURE.md
  docs/ISSUE_53_IMPLEMENTATION.md
  docs/reports/ISSUE_53_IMPLEMENTATION_SUMMARY.md
  fix_test_patterns.py
  requirements.txt
  test_plan_data_access.md
  tests/conftest.py
  tests/integration/test_multi_tenant_security_integration.py
  tests/integration/test_repositories_comprehensive.py
  tests/test_architectural_metrics.py
  tests/test_issue_53.py
  tests/test_ui_components_comprehensive.py
  tests/unit/core/test_session_comprehensive.py
  tests/unit/db/test_session_comprehensive.py
  tests/unit/pre_audit/reporting/test_chart_generator.py
  tests/unit/pre_audit/reporting/test_export_manager.py
  tests/unit/repositories/test_base_repository_comprehensive.py
  tests/unit/test_data_access_comprehensive.py
  tools/pre_audit/reporting/exporters/pdf_generator.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking

Improve CI/CD
  .github/workflows/architectural-compliance.yml
  .github/workflows/claude-code-architectural-audit.yml
Due: validate-yaml-ci, no-hardcoded-secrets, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Update architectural-tests.yml
  .github/workflows/architectural-tests.yml
Due: validate-yaml-ci, no-hardcoded-secrets, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Update pr-validation.yml
  .github/workflows/pr-validation.yml
Due: validate-yaml-ci, no-hardcoded-secrets, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Fix architectural failed tests #69 #68
  .github/workflows/architectural-compliance.yml
  .github/workflows/architectural-tests.yml
  .github/workflows/pr-validation.yml
  Dockerfile
  app/api/deps.py
  app/core/audit.py
  app/core/auth.py
  app/core/auth_utils.py
  app/dependencies/auth.py
  app/dependencies/middleware.py
  app/middleware/audit.py
  app/middleware/oauth.py
  app/middleware/permissions.py
  app/services/auth_service.py
  app/services/middleware_service.py
  app/templates/reports/architectural_metrics.html
  pre_commit_final_output.txt
  pre_commit_output.txt
  pyproject.toml
  requirements-dev.txt
  requirements-test.txt
  requirements.txt
  tests/architecture/test_data_access_patterns.py
  tests/architecture/test_dependency_compliance.py
  tests/architecture/test_layer_boundaries.py
  tests/unit/test_health_performance.py
  tools/pre_audit/cache_manager.py
  tools/pre_audit/claude_code_auditor.py
  tools/pre_audit/incremental_analyzer.py
  tools/pre_audit/safe_cache_manager.py
  tools/pre_audit/security_audit.py
  tools/pre_audit/test_enhanced_reports.py
Due: validate-yaml-ci, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Fix CI/CD issues and architectural issues #68 #69
  tests/architecture/test_data_access_patterns.py
  tests/architecture/test_layer_boundaries.py
Due: check-api-security

Fix CI issues
  .github/workflows/architectural-tests.yml
  tests/architecture/test_data_access_patterns.py
  tests/architecture/test_layer_boundaries.py
Due: validate-yaml-ci, no-hardcoded-secrets, check-api-security, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Fix CI/CD issues
  .pre-commit-config.yaml
  README.md
  app/dependencies/sanitization.py
  app/models/security_scan.py
  app/models/vulnerability_finding.py
  app/models/vulnerability_taxonomy.py
  app/repositories/vulnerability_taxonomy.py
  app/schemas/oauth.py
  app/schemas/vulnerability_finding.py
  pytest.ini
  requirements.txt
  tests/bdd/steps/us_101_steps.py
  tests/integration/test_repositories_comprehensive.py
  tests/integration/test_type_decorators.py
  tests/test_database_fixed.py
  tests/unit/repositories/test_base_repository_comprehensive.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking

Fix CI/CD issues
  pyproject.toml
  tools/pre_audit/git_history_parser.py
  tools/pre_audit/reporting/exporters/pdf_generator.py
  tools/pre_audit/reporting/hotspot_integration.py
  tools/pre_audit/reporting/utils/__init__.py
  tools/pre_audit/safe_cache_manager.py
  tools/pre_audit/statistical_analysis/git_temporal_integration.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Fix PR validation issues.
  .flake8
  tests/integration/docker/test_docker_environment.py
  tests/unit/repositories/test_vulnerability_taxonomy_repository_comprehensive.py
  tests/unit/test_git_history_parser.py
  tests/unit/test_git_pattern_matcher.py
Due: check-api-security

Fix PR Check failures
  app/celery/tasks.py
  app/models/user.py
  app/utils/cache.py
  app/utils/circuit_breaker.py
  pyproject.toml
  pytest.ini
  tests/integration/pre_audit/__init__.py
  tests/unit/models/test_scan_models.py
  tests/unit/models/test_task_models.py
  tests/unit/models/test_user_comprehensive.py
  tests/unit/pre_audit/__init__.py
  tests/unit/services/test_mfa_service.py
  tests/unit/services/test_oauth_service.py
  tests/unit/test_auth_failover.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Fix CI/CD issues
  .flake8
  .github/scripts/analyze-bandit-report.py
  .github/scripts/analyze-safety-report.py
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  CLAUDE.md
  alembic/env.py
  app/api/deps.py
  app/core/abac.py
  app/core/abac_permissions.py
  app/core/audit.py
  app/core/decorators/sql_injection.py
  app/core/permissions.py
  app/core/secrets_manager.py
  app/db/init_mfa_policies.py
  app/middleware/authentication.py
  initial_check_output.txt
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  test_clean_install.sh
  tools/pre_audit/historical_analyzer.py
  tools/pre_audit/reporting/exporters/pdf_generator.py
Due: validate-yaml-ci, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Fix CI/CD issues
  .github/workflows/pr-validation.yml
  app/main.py
Due: validate-yaml-ci, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Implement #68
  .gitignore
  .pre-commit-config.yaml
  app/api/deps.py
  app/api/endpoints/health_auth.py
  app/core/abac.py
  app/core/abac_permissions.py
  app/core/auth.py
  app/core/container.py
  app/core/interfaces/__init__.py
  app/core/interfaces/abac_interface.py
  app/core/interfaces/auth_interface.py
  app/core/interfaces/cache_interface.py
  app/core/interfaces/user_interface.py
  app/core/permissions.py
  app/core/startup.py
  app/models/user.py
  app/schemas/oauth.py
  app/schemas/responses/__init__.py
  app/schemas/responses/api_key_response.py
  app/schemas/responses/auth_response.py
  app/schemas/responses/user_response.py
  app/schemas/vulnerability_finding.py
  app/services/abac_service_impl.py
  app/services/authentication_service.py
  app/services/cache_service_impl.py
  app/services/user_service_impl.py
  bandit_analysis_detailed.md
  tests/test_issue_68.py
  tests/unit/core/test_abac_engine.py
  tests/unit/core/test_abac_permissions.py
  tests/unit/models/test_user_comprehensive.py
  tests/unit/pre_audit/reporting/test_export_manager.py
  tools/pre_audit/reporting/exporters/pdf_generator.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking

Fix PR failed checks #68
  app/api/deps.py
  app/core/auth.py
  ci_failure_analysis.md
  tools/pre_audit/pattern_analyzer.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Fix PR failed checks (cont.) #68
  app/core/auth_utils.py
  app/services/authentication_service.py
  docs/reports/ADRaudit-claudecode/reports/ADRaudit_010Violations_1commits_3files_20250820.md
  scripts/run_tests_windows.py
  tests/architecture/test_dependency_compliance.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking

Update claude-code-architectural-audit.yml
  .github/workflows/claude-code-architectural-audit.yml
Due: validate-yaml-ci, no-hardcoded-secrets, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Solve remaining tasks in #68
  app/core/service_registry.py
  app/core/startup.py
  app/middleware/authentication.py
  tests/integration/pre_audit/reporting/test_reporting_integration.py
  tests/integration/test_api_functionality_preservation.py
  tests/performance/test_api_latency_benchmark.py
  tests/unit/middleware/test_authentication_middleware.py
  tests/unit/pre_audit/reporting/test_export_manager.py
  tools/pre_audit/reporting/exporters/html_generator.py
  tools/pre_audit/reporting/security/input_validator.py
  tools/pre_audit/reporting/templates/audit_report.html
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Work on Issue #69
  .pre-commit-config.yaml
  app/api/endpoints/mfa.py
  app/dependencies/sanitization.py
  app/main.py
  app/repositories/mfa_policy.py
  app/schemas/user.py
  app/schemas/vulnerability_finding.py
  app/services/audit_service.py
  app/services/mfa_policy_service.py
  pr_validation_analysis.txt
  tests/security/test_sanitization_dependencies.py
  tests/unit/services/test_mfa_policy_service.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking

Fix #69 issues
  .flake8
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  .gitignore
  .pre-commit-config.yaml
  .pre-commit-pytest-runner.py
  app/core/container.py
  app/repositories/api_key.py
  app/repositories/audit_log_impl.py
  app/repositories/interfaces/__init__.py
  app/repositories/interfaces/api_key.py
  app/repositories/interfaces/audit.py
  app/repositories/interfaces/health.py
  app/repositories/interfaces/role.py
  app/repositories/interfaces/security_scan.py
  app/repositories/interfaces/session.py
  app/repositories/interfaces/user.py
  app/repositories/interfaces/vulnerability.py
  app/repositories/session.py
  app/repositories/user.py
  docs/architecture/ADRs/ADR-013_RepositoryPattern.md
  docs/planning/ISSUE_69/ISSUE_69_plan.md
  docs/reports/ISSUE_69_COMPLETION_REPORT.md
  docs/testing/COMPREHENSIVE_TEST_FAILURE_ANALYSIS.md
  docs/testing/NFO/pytest_async_failure.json
  docs/testing/NFO/pytest_missing_aiohttp.json
  docs/testing/NFO/pytest_role_model_error.json
  docs/testing/NFO_FIX_VALIDATION_SUMMARY.md
  docs/testing/fix/fix_pytest_async_failure.md
  docs/testing/fix/fix_pytest_missing_aiohttp.md
  docs/testing/fix/fix_pytest_role_model_error.md
  examples/repository_pattern_refactoring_sample.py.disabled
  pyproject.toml
  requirements-dev.txt
  tests/integration/test_auth_integration.py
Due: validate-yaml-ci, validate-json-ci, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Implement issue #85
  .gitignore
  .pre-commit-config.yaml
  .pre-commit-pytest-runner.py
  app/core/permissions.py
  app/db/init_mfa_policies.py
  app/middleware/oauth.py
  app/middleware/permissions.py
  app/middleware/security.py
  app/repositories/__init__.py
  app/repositories/audit_log_extensions.py
  app/repositories/mfa_backup_code.py
  app/repositories/mfa_challenge.py
  app/repositories/mfa_device.py
  app/repositories/mfa_event.py
  app/repositories/mfa_policy.py
  app/repositories/oauth_access_token.py
  app/repositories/oauth_application.py
  app/repositories/oauth_authorization_code.py
  app/repositories/oauth_refresh_token.py
  app/repositories/oauth_scope.py
  app/services/api_key_service.py
  app/services/api_key_service_simple.py
  app/services/audit_service.py
  app/services/health_service.py
  app/services/mfa_policy_service.py
  app/services/mfa_service.py
  app/services/oauth_service.py
  app/services/rbac_service.py
  app/services/session_service.py
  docs/reports/ISSUE_85_COMPLETION_REPORT.md
Due: no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking

Implement issue #86
  app/api/deps.py
  app/api/endpoints/api_keys.py
  app/api/endpoints/architectural_metrics.py
  app/api/endpoints/audit_logs.py
  app/api/endpoints/auth.py
  app/api/endpoints/auth_validated.py
  app/api/endpoints/mfa.py
  app/api/endpoints/mfa_policies.py
  app/api/endpoints/oauth.py
  app/api/endpoints/plugins.py
  app/api/endpoints/reports.py
  app/api/endpoints/roles.py
  app/api/endpoints/scans.py
  app/api/endpoints/security_scans.py
  app/api/endpoints/sessions.py
  app/api/endpoints/tasks.py
  app/api/endpoints/templates.py
  app/api/endpoints/users.py
  app/api/endpoints/vulnerability_findings.py
  app/api/endpoints/vulnerability_taxonomies.py
  app/services/api_key_service.py
  app/services/oauth_service.py
  app/services/plugin_service.py
  app/services/rbac_service.py
  app/services/report_service.py
  app/services/scan_service.py
  app/services/security_scan_service.py
  app/services/task_service.py
  app/services/template_service.py
  app/services/user_service_impl.py
  app/services/vulnerability_finding_service.py
  app/services/vulnerability_taxonomy_service.py
  docs/architecture/ADRs/ADR-013_API_Layer_Separation.md
  docs/planning/ISSUE_86/ISSUE_86_plan.md
  docs/reports/ISSUE_86_COMPLETION_REPORT.md
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Path conditions:
  validate-yaml-ci: any of: \.github/workflows/.*\.yml$
  validate-json-ci: any of: \.json$
  no-hardcoded-secrets: any of: \.(py|js|ts|jsx|tsx|java|go|rb|php|yml|yaml|json|env|sh|bash)$, but not: (venv/|htmlcov/|__pycache__/|\.git/|\.mypy_cache/|backups/|\.example|\.template|test_|_test\.|spec_|_spec\.).*
  no-print-statements: any of: \.py$, but not: (venv/|htmlcov/|__pycache__/|\.git/|\.mypy_cache/|backups/|test_|_test\.py|debug|scripts/)
  check-api-security: any of: \.py$
  ban-test-masking: any of: \.(yml|yaml|sh|bash|Makefile)$|^\.github/workflows/|^scripts/
  workflow-multi-layer-validation: any of: ^\.github/workflows/.*\.ya?ml$
  workflow-execution-testing: any of: ^\.github/workflows/.*\.ya?ml$
