Repository GSA-TTS/violentutf-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-secrets, no-print-statements, check-api-security

Path conditions:
  no-hardcoded-secrets: any of: \.(py|js|ts|jsx|tsx|java|go|rb|php|yml|yaml|json|env|sh|bash)$, but not: (\.example|\.template|test_|_test\.|spec_|_spec\.).*
  no-print-statements: any of: \.py$, but not: (test_|_test\.py|debug|scripts/)
  check-api-security: any of: \.py$

Initialize basic project structures #4
  .flake8
  .pre-commit-config.yaml
  Dockerfile
  pytest.ini
  requirements.txt
  scripts/run_tests_windows.py
  tests/__init__.py
  tests/contract/__init__.py
  tests/contract/test_placeholder_contract.py
  tests/unit/__init__.py
  tests/unit/test_placeholder.py
  violentutf_api/__init__.py
  violentutf_api/main.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Update upload-artifact to v4 for compatibility
  .github/workflows/release.yml
Due: no-hardcoded-secrets

Create templates #4
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/security_vulnerability.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: no-hardcoded-secrets

Add general project configurations #4
  .editorconfig
  .env.example
  .gitattributes
  .gitignore
Due: none

Spinoff plan for ViolentUTF API (from mother repo) - #10
  docs/planning/violentutf-api_spinoff/extraction_checklist.md
  docs/planning/violentutf-api_spinoff/extraction_quick_reference.md
  docs/planning/violentutf-api_spinoff/extraction_strategy.md
  docs/planning/violentutf-api_spinoff/synchronization_strategy.md
Due: none

Revised spinoff plan #10
  docs/planning/violentutf-api_spinoff/extraction_checklist.md
  docs/planning/violentutf-api_spinoff/extraction_quick_reference.md
  docs/planning/violentutf-api_spinoff/extraction_strategy.md
  docs/planning/violentutf-api_spinoff/synchronization_strategy.md
Due: none

Add test strategies #10
  docs/planning/violentutf-api_spinoff/docker_integration_testing.md
  docs/planning/violentutf-api_spinoff/extraction_checklist.md
  docs/planning/violentutf-api_spinoff/extraction_strategy.md
  docs/planning/violentutf-api_spinoff/package_security_review.md
  docs/planning/violentutf-api_spinoff/secure_development_guide.md
  docs/planning/violentutf-api_spinoff/testing_improvements_guide.md
  docs/planning/violentutf-api_spinoff/testing_quick_reference.md
  docs/planning/violentutf-api_spinoff/testing_strategy.md
Due: none

Enhance health endpoints #14
  app/api/endpoints/health.py
  app/utils/cache.py
  app/utils/monitoring.py
  docs/issues/issue_14_completion_report.md
  docs/issues/issue_14_status.md
  tests/unit/test_health_performance.py
  tests/unit/utils/test_health_cache.py
  tests/unit/utils/test_monitoring.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Reports for issue 14 and 15
  docs/reports/ISSUE_14_COMPLETION_REPORT.md
  docs/reports/ISSUE_14_VERIFICATION.md
  docs/reports/ISSUE_15_COMPLETION_REPORT.md
  docs/reports/ISSUE_15_VERIFICATION.md
Due: none

Extract database models with audit mixin #16
  .pre-commit-config.yaml
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  app/db/base.py
  app/db/base_class.py
  app/models/__init__.py
  app/models/api_key.py
  app/models/audit_log.py
  app/models/mixins.py
  app/models/user.py
  docs/architecture/middleware.md
  docs/database_models_implementation.md
  docs/deployment/performance-tuning.md
  docs/issues/issue_15_status.md
  docs/reports/README.md
  docs/reports/final_summary_issue_16.md
  docs/reports/issue_16_completion.md
  docs/reports/issue_16_completion_report.md
  docs/reports/issue_16_comprehensive_completion.md
  docs/reports/issue_16_final_completion.md
  docs/reports/issue_16_final_status.md
  docs/reports/issue_16_precommit_status.md
  docs/reports/issue_16_verification.md
  docs/reports/issue_16_verification_report.md
  docs/reports/test_fix_example.md
  docs/reports/test_migration_guide.md
  docs/reports/test_migration_progress.md
  docs/sqlalchemy_2_migration_summary.md
  precommit_results_cache.md
  requirements-dev.txt
  requirements.txt
  tests/integration/test_database_models.py
  tests/unit/models/test_api_key.py
  tests/unit/models/test_audit_log.py
  tests/unit/models/test_mixins.py
  tests/unit/models/test_user.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Consolidate reports for issue 16
  docs/reports/ISSUE_16_FINAL_CONSOLIDATED_REPORT.md
  docs/reports/ISSUE_16_INDEX.md
  docs/reports/ISSUE_TRACKER.md
  docs/reports/issue_16_completion_report.md
  docs/reports/issue_16_final_status.md
  docs/reports/issue_16_verification.md
  docs/reports/issue_16_verification_report.md
Due: none

Remove stale reports for issue 16
  docs/reports/ISSUE_16_FINAL_CONSOLIDATED_REPORT.md
  docs/reports/ISSUE_16_INDEX.md
  docs/reports/issue_16_completion.md
  docs/reports/issue_16_comprehensive_completion.md
  docs/reports/issue_16_final_completion.md
  docs/reports/issue_16_precommit_status.md
  docs/reports/issue_16_verification.md
Due: none

Restore reports for issue 16
  docs/reports/ISSUE_16_COMPLETION_REPORT.md
  docs/reports/ISSUE_16_VERIFICATION.md
Due: none

Consolidate issue 17 reports
  docs/issue17-comprehensive-test-analysis.md
  docs/issue17-deep-analysis-critical-findings.md
  docs/issue17-implementation-summary.md
  docs/reports/ISSUE_17_VERIFICATION.md
  docs/reports/issue_17_changes_summary.md
  docs/reports/issue_17_final_completion_summary.md
  docs/reports/issue_17_final_status.md
  docs/reports/issue_17_performance_test_documentation.md
  docs/reports/issue_17_verification_report.md
Due: none

Expand test coverage
  .flake8
  app/core/session.py
  app/main.py
  app/middleware/csrf.py
  app/middleware/input_sanitization.py
  app/middleware/request_signing.py
  app/middleware/session.py
  app/schemas/__init__.py
  app/schemas/common.py
  app/schemas/user.py
  app/utils/cache.py
  app/utils/sanitization.py
  coverage_gap_analysis.md
  docs/reports/ISSUE_TRACKER.md
  docs/reports/test_coverage_report.md
  tests/integration/test_security_integration.py
  tests/integration/test_security_middleware_chain.py
  tests/performance/test_security_performance.py
  tests/unit/core/test_session.py
  tests/unit/core/test_session_comprehensive.py
  tests/unit/db/test_database_session_comprehensive.py
  tests/unit/middleware/test_csrf_advanced_security.py
  tests/unit/middleware/test_csrf_middleware.py
  tests/unit/middleware/test_csrf_middleware_comprehensive.py
  tests/unit/middleware/test_input_sanitization_advanced.py
  tests/unit/middleware/test_input_sanitization_middleware.py
  tests/unit/middleware/test_request_signing_middleware.py
  tests/unit/middleware/test_session_middleware.py
  tests/unit/middleware/test_session_middleware_comprehensive.py
  tests/unit/models/test_api_key_comprehensive.py
  tests/unit/models/test_audit_log_comprehensive.py
  tests/unit/models/test_user_comprehensive.py
  tests/unit/schemas/test_common_comprehensive.py
  tests/unit/schemas/test_user_comprehensive.py
  tests/unit/utils/test_sanitization_comprehensive.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Initialize ADRs
  docs/architecture/ADRs/ADR-001_RESTstyle.md
  docs/architecture/ADRs/ADR-002_Authentication.md
  docs/architecture/ADRs/ADR-003_RBAC+ABAC.md
  docs/architecture/ADRs/ADR-004_Versioning.md
  docs/architecture/ADRs/ADR-005_RateLimiting.md
  docs/architecture/ADRs/ADR-006_DataSerializationFormat.md
  docs/architecture/ADRs/ADR-007_AsyncTaskProcessing.md
  docs/architecture/ADRs/ADR-008_LoggingandAuditing.md
  docs/architecture/ADRs/ADR-009_ErrorandResponses.md
  docs/architecture/ADRs/ADR-010_SoftwareDependencies.md
  docs/architecture/ADRs/ADR-F1-1_TemplatingEngine.md
  docs/architecture/ADRs/ADR-F1-2_ServersideOrchestration.md
  docs/architecture/ADRs/ADR-F1-3_EndpointIntegrationArchitecture.md
  docs/architecture/ADRs/ADR-F2-1_VulnerabilityTaxonomies.md
  docs/architecture/ADRs/ADR-F2-2_DataStorage.md
  docs/architecture/ADRs/ADR-F3-1_ScoringArchitecture.md
  docs/architecture/ADRs/ADR-F3-2_ReportGeneration.md
  docs/architecture/ADRs/ADR-F4-1_UntrustedModelInteractions.md
  docs/architecture/ADRs/ADR-F4-2_SecretManagement.md
  docs/architecture/ADRs/template_ADR_27JUL25.md
Due: none

Updated #21 reports
  docs/reports/ISSUE_21_COMPLETION_REPORT.md
  docs/reports/ISSUE_21_VERIFICATION.md
  issue21_100_percent_completion_report.md
Due: none

Implement pagination, filtering, and caching #19
  .secrets.baseline
  SECURITY.md
  alembic/versions/add_roles_field_rbac.py
  app/middleware/response_cache.py
  app/repositories/enhanced.py
  app/schemas/filtering.py
  app/utils/field_selection.py
  docs/reports/ISSUE_19_COMPLETION_REPORT.md
  docs/reports/ISSUE_19_VERIFICATION.md
  docs/reports/ISSUE_21_VERIFICATION.md
  docs/reports/api_endpoints.md
  docs/reports/test_coverage_report.md
  docs/reports/test_coverage_report_backup.md
  docs/testing/INTEGRATION_TEST_INFRASTRUCTURE.md
  issue19_completion_summary.md
  issue19_report_cache.md
  tests/performance/test_api_optimization_benchmarks.py
  tests/unit/test_enhanced_filtering.py
  tests/unit/test_response_cache_middleware.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Bug fix
  app/db/session.py
  app/utils/circuit_breaker.py
  tests/unit/api/test_api_keys.py
  tests/unit/api/test_audit_logs.py
  tests/unit/api/test_sessions.py
  tests/unit/api/test_users.py
  tests/unit/db/test_database_session_comprehensive.py
  tests/unit/db/test_db_session_comprehensive.py
  tests/unit/test_enhanced_filtering.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Fix failing CI/CD
  analysis_cache.md
  app/core/config.py
  app/main.py
  app/middleware/authentication.py
  test_output.txt
  tests/conftest.py
  tests/unit/api/test_api_keys.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Fix missing requirement files
  requirements-dev.txt
  requirements.txt
Due: none

Add documentation and fix CI issue
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  docs/reports/ISSUE_20_COMPLETION_REPORT.md
  docs/reports/ISSUE_20_VERIFICATION.md
  requirements-test.txt
Due: no-hardcoded-secrets

Update requirements.txt
  requirements.txt
Due: none

Strengthen CI pipeline
  .github/scripts/audit-organization-repos.py
  .github/scripts/ban-test-masking.py
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security-ci-validation.yml
  .pre-commit-config.yaml
  .secrets.baseline
  docs/policies/CI_CD_SECURITY_POLICY.md
  requirements.txt
Due: no-hardcoded-secrets, check-api-security

Improve CI
  .github/scripts/ban-test-masking.py
  .github/workflows/security-ci-validation.yml
  .pre-commit-config.yaml
  check_security.sh
  scripts/security-scan.sh
  scripts/setup-security.sh
  tests/conftest.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Improve CI
  .github/workflows/ci.yml
  .github/workflows/security-ci-validation.yml
  .pre-commit-config.yaml
Due: no-hardcoded-secrets

Continue to improve CI
  tests/integration/test_security_middleware_chain.py
  tests/integration/test_startup.py
  tests/issue21/test_jwt_authentication.py
  tests/performance/test_security_performance.py
  tests/unit/middleware/test_authentication_middleware.py
  tests/unit/middleware/test_csrf_advanced_security.py
  tests/unit/middleware/test_csrf_middleware.py
  tests/unit/middleware/test_enhanced_jwt_claims.py
  tests/unit/middleware/test_input_sanitization_advanced.py
  tests/unit/middleware/test_input_sanitization_middleware.py
  tests/unit/middleware/test_logging_middleware.py
  tests/unit/middleware/test_metrics_middleware.py
  tests/unit/middleware/test_request_id_middleware.py
  tests/unit/middleware/test_request_signing_middleware.py
  tests/unit/middleware/test_security_middleware.py
  tests/unit/middleware/test_session_middleware.py
  tests/unit/test_enhanced_health.py
  tests/unit/test_health_performance.py
Due: check-api-security

Continue to improve CI
  tests/unit/core/test_rate_limiting.py
  tests/unit/core/test_session.py
  tests/unit/middleware/test_authentication_middleware.py
  tests/unit/middleware/test_request_size.py
  tests/unit/middleware/test_session_middleware.py
Due: check-api-security

Fix unexpected keyword argument 'app' issue
  tests/conftest.py
  tests/integration/test_security_middleware_chain.py
  tests/integration/test_startup.py
  tests/issue21/test_jwt_authentication.py
  tests/performance/test_security_performance.py
  tests/unit/middleware/test_authentication_middleware.py
  tests/unit/middleware/test_csrf_advanced_security.py
  tests/unit/middleware/test_csrf_middleware.py
  tests/unit/middleware/test_enhanced_jwt_claims.py
  tests/unit/middleware/test_input_sanitization_advanced.py
  tests/unit/middleware/test_input_sanitization_middleware.py
  tests/unit/middleware/test_logging_middleware.py
  tests/unit/middleware/test_metrics_middleware.py
  tests/unit/middleware/test_request_id_middleware.py
  tests/unit/middleware/test_request_signing_middleware.py
  tests/unit/middleware/test_security_middleware.py
  tests/unit/middleware/test_session_middleware.py
  tests/unit/test_enhanced_health.py
  tests/unit/test_response_cache_middleware.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Fix CI issues
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release.yml
  .github/workflows/security-ci-validation.yml
  Dockerfile
  app/api/routes.py
  docs/architecture/ADRcompliance_AuditPlaybook.md
  docs/architecture/ADRcompliance_AuditandResolution_guide.md
  docs/architecture/ADRcompliance_Framework.md
  pyproject.toml
  pytest.ini
  requirements-dev.txt
  requirements.txt
  tests/conftest.py
  tests/integration/test_security_integration.py
  tests/integration/test_security_middleware_chain.py
  tests/integration/test_startup.py
  tests/issue21/test_jwt_authentication.py
  tests/performance/test_security_performance.py
  tests/unit/middleware/test_authentication_middleware.py
  tests/unit/middleware/test_csrf_advanced_security.py
  tests/unit/middleware/test_csrf_middleware.py
  tests/unit/middleware/test_csrf_middleware_comprehensive.py
  tests/unit/middleware/test_enhanced_jwt_claims.py
  tests/unit/middleware/test_input_sanitization_advanced.py
  tests/unit/middleware/test_input_sanitization_middleware.py
  tests/unit/middleware/test_logging_middleware.py
  tests/unit/middleware/test_metrics_middleware.py
  tests/unit/middleware/test_request_id_middleware.py
  tests/unit/middleware/test_request_signing_middleware.py
  tests/unit/middleware/test_security_middleware.py
  tests/unit/middleware/test_session_middleware.py
  tests/unit/test_enhanced_health.py
  tests/unit/test_errors.py
  tests/unit/test_middleware.py
  tests/unit/test_response_cache_middleware.py
  tests/utils/testclient.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Initiate drafts of Architectural Audit/Track/Resolve Framework #38
  docs/architecture/ADRcompliance_AuditPlaybook.md
  docs/architecture/ADRcompliance_Framework.md
Due: none
