Repository GSA-TTS/violentutf-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-hardcoded-secrets, no-print-statements, check-api-security

no-hardcoded-secrets:
  name: Check for hardcoded secrets
  ...

no-print-statements:
  name: Check for print statements
  entry: python3 -c "import re, sys; content = sys.stdin.read(); sys.exit(1 if re.search(r'^\s*print\(', content, re.MULTILINE) else 0)"
  language: system

check-api-security:
  name: Check API security patterns
  ...

Improve tests
  app/api/base.py
  app/dependencies/__init__.py
  app/dependencies/sanitization.py
  app/middleware/input_sanitization.py
  app/repositories/api_key.py
  app/repositories/base.py
  app/schemas/user.py
  app/utils/circuit_breaker.py
  tests/conftest.py
  tests/integration/test_crud_endpoints.py
  tests/integration/test_endpoint_authentication.py
  tests/performance/test_api_optimization_benchmarks.py
  tests/performance/test_connection_pooling_load.py
  tests/performance/test_performance_benchmarks.py
  tests/performance/test_retry_logic_load.py
  tests/performance/test_session_leak_prevention.py
  tests/test_database.py
  tests/test_fixtures.py
  tests/unit/core/test_core_input_validation.py
  tests/unit/core/test_core_rate_limiting.py
  tests/unit/core/test_core_request_signing.py
  tests/unit/db/test_unit_db_session.py
  tests/unit/middleware/test_input_sanitization_middleware.py
  tests/utils/testclient.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Fix tests
  app/utils/circuit_breaker.py
  tests/unit/middleware/test_authentication_middleware.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Fix failed tests by updating dependencies
  Dockerfile
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  tests/unit/middleware/test_request_signing_middleware.py
  tests/utils/testclient.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Implement Historical Code Analysis for Violation Hotspots #41
  config/violation_patterns.yml
  reports/ADRaudit_002Violations_11commits_100files_20250731.md
  reports/ISSUE_41_COMPLETION_REPORT.md
  requirements-dev.txt
  requirements-test.txt
  requirements.txt
  tools/pre_audit/historical_analyzer.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Added ADRs and update requirements
  docs/architecture/ADRs/ADR-008_LoggingandAuditing.md
  docs/architecture/ADRs/ADR-010_SoftwareDependencies.md
  docs/architecture/ADRs/ADR-011_HistoricalCodeAnalysis.md
  docs/architecture/ADRs/ADR-F3-2_ReportGeneration.md
  reports/ISSUE_41_VERIFICATION.md
  requirements-dev.txt
  requirements-test.txt
  requirements.txt
Due: none

Update requirements with dynamically imported dependencies
  requirements-test.txt
  requirements.txt
Due: none

Update test_health_performance.py
  tests/unit/test_health_performance.py
Due: check-api-security

ADR evaluation from stakeholder views #45
  reports/ISSUE_45_RESULTS.md
Due: none

Fix security scanner issues (B105, B106, B107, B110)
  app/api/endpoints/oauth.py
  app/core/audit.py
  app/core/input_validation.py
  app/core/security.py
  app/middleware/csrf.py
  app/services/oauth_service.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Fix errors with PR checks
  Makefile
  all_failing_tests.txt
  all_test_failures.txt
  analysis_cache.md
  enhanced_validation_fixes.md
  issue19_completion_summary.md
  issue19_report_cache.md
  issue20_implementation_plan.md
  rate_limiting_errors.txt
  remaining_failures.txt
  remaining_failures_analysis.md
  reports/ISSUE_45_RESULTS.md
  test_errors_analysis.txt
  test_failure_detailed_report.txt
  test_failure_report.txt
  test_failures_analysis.md
  test_output.txt
  tests/integration/test_auth_integration.py
Due: check-api-security

Enforce zero tolerance for error masking in CI/CD #24
  .github/workflows/ci.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security-ci-validation.yml
  docs/reports/ADRaudit_002Violations_11commits_100files_20250731.md
  docs/reports/ISSUE_41_COMPLETION_REPORT.md
  docs/reports/ISSUE_41_VERIFICATION.md
  docs/reports/ISSUE_45_RESULTS.md
Due: no-hardcoded-secrets

Update audit-organization-repos.py
  .github/scripts/audit-organization-repos.py
Due: no-hardcoded-secrets, check-api-security

Resolve bandit scan issue, prevent multi-layer parsing failures #24
  .github/scripts/test-workflow-execution.py
  .github/scripts/validate-workflow-layers.py
  .github/workflows/security-ci-validation.yml
  .pre-commit-config.yaml
  Makefile
  docs/CI_CD_MULTI_LAYER_TESTING.md
Due: no-hardcoded-secrets, check-api-security

Update security-ci-validation.yml
  .github/workflows/security-ci-validation.yml
Due: no-hardcoded-secrets

Create ADRtool_HistoryAuditor_improvementPlan.md
  docs/architecture/ADRtool_HistoryAuditor_improvementPlan.md
Due: none

Create ADRtool_Auditor_ClaudeCode_improvementPlan.md
  docs/architecture/ADRtool_Auditor_ClaudeCode_improvementPlan.md
Due: none

Improved ADR Auditor tool #46 #42
  .architectural-triggers.yml
  .env.example
  .github/workflows/architectural-compliance.yml
  .github/workflows/claude-code-architectural-audit.yml
  .pre-commit-config.yaml
  app/core/config.py
  config/ci_violation_patterns.yml
  docs/architecture/ADRtool_Auditor.md
  docs/architecture/ADRtool_Auditor_ClaudeCode_improvementPlan.md
  docs/architecture/ADRtool_Auditor_improvementPlan.md
  docs/guides/claude-code-auditor-guide.md
  docs/guides/claude-code-auditor-implementation-summary.md
  docs/reports/ADRaudit-claudecode/debug_analysis_20250802_151541.json
  docs/reports/ADRaudit-claudecode/debug_audit_ADR-F3-1_ScoringArchitecture_20250802_151541.html
  docs/reports/ADRaudit-claudecode/debug_audit_ADR-F3-1_ScoringArchitecture_20250802_151541.json
  docs/reports/ADRaudit_002Violations_11commits_100files_20250731.md
  scripts/generate_pr_summary.py
  tools/pre_audit/README.md
  tools/pre_audit/cache_manager.py
  tools/pre_audit/claude_code_auditor.py
  tools/pre_audit/claude_code_ci_auditor.py
  tools/pre_audit/config.py
  tools/pre_audit/historical_analyzer.py
  tools/pre_audit/incremental_analyzer.py
  tools/pre_audit/multi_agent_auditor.py
  tools/pre_audit/mypy_fixes_complete_summary.md
  tools/pre_audit/mypy_fixes_final_complete.md
  tools/pre_audit/mypy_fixes_final_report.md
  tools/pre_audit/mypy_fixes_final_summary.md
  tools/pre_audit/mypy_fixes_summary.md
  tools/pre_audit/pattern_analyzer.py
  tools/pre_audit/pre_commit_fix_summary.md
  tools/pre_audit/remediation_planner.py
  tools/pre_audit/safe_cache_manager.py
  tools/pre_audit/smart_analyzer.py
  tools/pre_audit/streaming_auditor.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

02AUG25 Architectural Audit Results #42 #46
  docs/guides/claude-code-auditor-guide.md
  docs/reports/ADRaudit-claudecode/architectural_audit_20250802_191708.html
  docs/reports/ADRaudit-claudecode/architectural_audit_20250802_191708.json
  docs/reports/ADRaudit-claudecode/debug_audit_ADR-F1-1_TemplatingEngine_20250802_174223.html
  docs/reports/ADRaudit-claudecode/debug_audit_ADR-F1-1_TemplatingEngine_20250802_174223.json
  tools/pre_audit/TYPE_SAFETY_MAINTENANCE_GUIDE.md
  tools/pre_audit/claude_code_auditor.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Fix CodeQL Alerts
  .github/workflows/ci.yml
  .github/workflows/release.yml
  app/api/endpoints/health.py
  app/api/endpoints/oauth.py
  app/core/auth_failover.py
  app/schemas/oauth.py
  docs/examples/endpoints/example_circuit_breaker.py
  docs/examples/endpoints/example_sql_safe.py
  pyproject.toml
  requirements.txt
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Improve Architectural Hotspot Analysis #43
  docs/reports/ISSUE_43_COMPLETION_REPORT.md
  docs/reports/ISSUE_43_VERIFICATION.md
  docs/testing/pre-commit-errors.md
  tests/integration/test_issue_43_integration.py
  tests/property_based/test_statistical_properties.py
  tests/unit/test_git_temporal_integration.py
  tests/unit/test_statistical_hotspot_detector.py
  tests/unit/test_statistical_hotspot_orchestrator.py
  tests/unit/test_temporal_weighting_engine.py
  tools/pre_audit/claude_code_auditor.py
  tools/pre_audit/config/hotspot_analysis_config.yaml
  tools/pre_audit/statistical_analysis/adaptive_threshold_learner.py
  tools/pre_audit/statistical_analysis/advanced_feature_engineer.py
  tools/pre_audit/statistical_analysis/bayesian_risk_engine.py
  tools/pre_audit/statistical_analysis/git_temporal_integration.py
  tools/pre_audit/statistical_analysis/statistical_hotspot_detector.py
  tools/pre_audit/statistical_analysis/statistical_hotspot_orchestrator.py
  tools/pre_audit/statistical_analysis/statistical_normalizer.py
  tools/pre_audit/statistical_analysis/temporal_weighting_engine.py
  tools/pre_audit/statistical_analysis/time_series_trend_analyzer.py
  tools/pre_audit/statistical_analysis/validation_framework.py
  tools/pre_audit/statistical_analysis/validation_runner.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Fix bugs relating CI failures
  docs/architecture/ADRtool_Auditor.md
  docs/architecture/ADRtool_Auditor_ClaudeCode_improvementPlan.md
  docs/architecture/ADRtool_Auditor_improvementPlan.md
  pyproject.toml
  tests/unit/test_git_temporal_integration.py
  tests/unit/test_statistical_hotspot_detector.py
  tests/unit/test_statistical_hotspot_orchestrator.py
  tests/unit/test_temporal_weighting_engine.py
  tools/pre_audit/statistical_analysis/git_temporal_integration.py
  tools/pre_audit/statistical_analysis/statistical_hotspot_detector.py
  tools/pre_audit/statistical_analysis/statistical_hotspot_orchestrator.py
  tools/pre_audit/statistical_analysis/temporal_weighting_engine.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Fix bugs relating CI failures
  requirements-test.txt
  tests/unit/core/test_external_services.py
  tests/unit/models/test_mixins.py
  tests/unit/test_errors.py
  tools/pre_audit/statistical_analysis/git_temporal_integration.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Fix CI failures
  tests/unit/pre_audit/reporting/test_base.py
  tools/pre_audit/reporting/base.py
  tools/pre_audit/reporting/usage_example.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Fix import failures
  requirements.txt
  tools/pre_audit/reporting/hotspot_integration.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Clarify gitignore rules to fix CI errors
  .gitignore
  tests/integration/pre_audit/__init__.py
  tests/security/test_circuit_breaker_enhanced.py
  tests/security/test_circuit_breakers.py
  tests/security/test_input_sanitization_enhanced.py
  tests/security/test_input_validation.py
  tests/security/test_input_validation_enhanced.py
  tests/security/test_issue20_summary.md
  tests/security/test_rate_limiting.py
  tests/security/test_rate_limiting_enhanced.py
  tests/security/test_request_signing.py
  tests/security/test_request_signing_enhanced.py
  tests/security/test_sanitization_dependencies.py
  tests/security/test_security_compliance.py
  tests/security/test_security_integration_enhanced.py
  tests/security/test_security_integration_full.py
  tests/unit/pre_audit/__init__.py
  tools/pre_audit/reporting/security/__init__.py
  tools/pre_audit/reporting/security/hotspot_sanitizer.py
  tools/pre_audit/reporting/security/input_validator.py
  tools/pre_audit/reporting/security/output_encoder.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Add documentations and initial version of Architectural Violation Pattern Report
  docs/planning/ADRtool/ADRtool_Auditor.md
  docs/planning/ADRtool/ADRtool_Auditor_ClaudeCode_improvementPlan.md
  docs/planning/ADRtool/ADRtool_Auditor_improvementPlan.md
  docs/planning/ADRtool/ADRtool_hotspot.md
  docs/planning/ADRtool/ADRtool_pattern.md
  docs/planning/ADRtool/violation_pattern_report_improvement_plan.md
  docs/reports/ADRaudit-02AUG25-Analysis/criticalViolations_others.md
  docs/reports/ADRaudit-02AUG25-Analysis/criticalViolations_security.md
  docs/reports/ADRaudit-02AUG25-Analysis/highViolations.md
  docs/reports/ADRaudit-02AUG25-Analysis/mediumlowViolations.md
  docs/security/BAN_TEST_MASKING_IMPLEMENTATION.md
  docs/security/README.md
  docs/security/SECURITY_MIDDLEWARE_IMPLEMENTATION.md
  docs/security/SECURITY_NOTES.md
  docs/security/configuration-guide.md
Due: none

Improve architectural audit report format #44
  docs/reports/ADRaudit-claudecode/architectural_audit_20250805_215248.html
  docs/reports/ADRaudit-claudecode/architectural_audit_20250805_215248.json
  docs/reports/ADRaudit-claudecode/debug_analysis_20250805_135802.json
  docs/reports/ADRaudit-claudecode/debug_analysis_20250805_164428.json
  docs/reports/ADRaudit-claudecode/debug_audit_ADR-011_HistoricalCodeAnalysis_20250805_135802.html
  docs/reports/ADRaudit-claudecode/debug_audit_ADR-011_HistoricalCodeAnalysis_20250805_135802.json
  docs/reports/ADRaudit-claudecode/debug_audit_ADR-F3-2_ReportGeneration_20250805_164428.html
  docs/reports/ADRaudit-claudecode/debug_audit_ADR-F3-2_ReportGeneration_20250805_164428.json
  docs/reports/ADRaudit-claudecode/reports/ADRaudit_GENERALSECURITYViolations_21commits_130files_20250805.md
  docs/reports/ADRaudit-claudecode/static/js/chart.min.js
  test_reports/adr_audit_report_20250805_182328.html
  test_reports/adr_audit_report_20250805_182328.json
  test_reports/sample_audit_data.json
  tools/pre_audit/reporting/templates/scripts/main.js
  tools/pre_audit/reporting/templates/styles/main.css
Due: no-hardcoded-secrets

Initialize setup script for ViolentUTF API
  .env.example
  .gitignore
  docker-compose.yml
  docs/guides/claude-code-auditor-guide.md
  docs/reports/ADRaudit-02AUG25-Analysis/criticalViolations_others.md
  docs/reports/ADRaudit-02AUG25-Analysis/criticalViolations_security.md
  docs/reports/ADRaudit-claudecode/reports/ADRaudit_GENERALSECURITYViolations_21commits_130files_20250805.md
  nginx.conf
  setup_violentutf.sh
  tools/pre_audit/claude_code_auditor.py
  tools/pre_audit/claude_code_ci_auditor.py
  tools/pre_audit/remediation_planner.py
  tools/pre_audit/streaming_auditor.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Improve setup script
  .env.example
  .gitignore
  Dockerfile
  SETUP_GUIDE.md
  app/api/endpoints/api_keys.py
  app/api/endpoints/audit_logs.py
  app/api/endpoints/auth.py
  app/api/endpoints/auth_validated.py
  app/api/endpoints/mfa.py
  app/api/endpoints/mfa_policies.py
  app/api/endpoints/oauth.py
  app/api/endpoints/roles.py
  app/api/endpoints/sessions.py
  app/api/endpoints/users.py
  app/db/base.py
  app/db/session.py
  app/models/__init__.py
  app/models/user.py
  docker-compose.yml
  docs/README.md
  docs/development/README.md
  docs/reports/ADRaudit-claudecode/reports/ADRaudit_GeneralViolations_0commits_0files_20250807.md
  docs/reports/ISSUE_49_Verification.ipynb
  requirements.txt
  setup_violentutf.sh
  show_credentials.sh
  tests/conftest.py
  tests/test_database_fixed.py
  tests/test_fixtures.py
  tests/unit/api/test_users.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Initialize fix processes for #47 and #49
  docs/reports/ISSUE_47_Security_Results.json
  docs/reports/ISSUE_47_Verification.ipynb
  docs/reports/ISSUE_49_Verification.ipynb
  docs/reports/ISSUE_49_Verification_Report.md
  docs/reports/ISSUE_49_Verification_Results.json
  reports/adr_audit_report_20250805_174252.html
  reports/adr_audit_report_20250805_174252.json
  reports/static/js/chart.min.js
Due: no-hardcoded-secrets

Establish reports for key api aspects #47 #49
  docs/reports/api_RBAC_ABAC.md
  docs/reports/api_async_background.md
  docs/reports/api_authentication.md
  docs/reports/api_plugins.md
  docs/reports/api_reporting.md
  docs/reports/api_vulnerabilityManagement.md
Due: none

Solve JWT Middleware Gap - Not using org ID #47
  app/core/permissions.py
  app/middleware/authentication.py
  app/repositories/api_key.py
  app/repositories/audit_log.py
  app/repositories/base.py
  app/repositories/user.py
  app/services/api_key_service.py
  app/services/rbac_service.py
  tests/unit/middleware/test_jwt_organization_extraction.py
  tests/unit/repositories/test_organization_filtering.py
  tests/unit/services/test_organization_permission_validation.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Update tests and api key management
  .pre-commit-pytest-runner.py
  app/api/endpoints/oauth.py
  app/core/config.py
  app/core/secrets_manager.py
  app/middleware/request_signing.py
  app/models/user.py
  app/repositories/api_key.py
  app/services/api_key_service.py
  app/services/rbac_service.py
  bandit_results.json
  pytest.ini
  security_analysis_cache.md
  tests/conftest.py
  tests/unit/core/test_secrets_manager.py
  tests/unit/middleware/test_jwt_organization_extraction.py
  tests/unit/repositories/test_organization_filtering.py
  tests/unit/services/test_secure_api_key_service.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Improve API key management #47
  app/core/secrets_manager.py
  app/services/api_key_service.py
  docs/reports/ISSUE_47_Security_Results.json
  docs/reports/ISSUE_47_Verification.ipynb
  tests/unit/core/test_secrets_manager.py
  tests/unit/services/test_api_key_integration_basic.py
  tests/unit/services/test_api_key_secrets_integration.py
  tests/unit/services/test_secure_api_key_service.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Fix No ABAC and Superuser bypass. #47
  app/core/abac.py
  app/core/abac_permissions.py
  app/core/authority.py
  app/core/permissions.py
  app/middleware/authentication.py
  app/models/api_key.py
  app/models/user.py
  app/services/api_key_service.py
  tests/integration/pre_audit/reporting/test_reporting_integration.py
  tests/integration/test_auth_integration.py
  tests/unit/core/test_abac_engine.py
  tests/unit/core/test_abac_permissions.py
  tests/unit/core/test_authority_system.py
  tests/unit/middleware/test_authentication_middleware.py
  tests/unit/models/test_api_key_comprehensive.py
  tests/unit/models/test_user.py
  tools/pre_audit/reporting/exporters/json_generator.py
Due: no-hardcoded-secrets, no-print-statements, check-api-security

Path conditions:
  no-hardcoded-secrets: any of: \.(py|js|ts|jsx|tsx|java|go|rb|php|yml|yaml|json|env|sh|bash)$, but not: (\.example|\.template|test_|_test\.|spec_|_spec\.).*
  no-print-statements: any of: \.py$, but not: (test_|_test\.py|debug|scripts/)
  check-api-security: any of: \.py$
