Repository GSA-TTS/violentutf-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-yaml-ci, validate-json-ci, architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

validate-yaml-ci:
  name: Validate YAML (matches CI)
  ...

validate-json-ci:
  name: Validate JSON (matches CI)
  ...

architectural-analysis:
  name: üèõÔ∏è Architectural Compliance Check (Smart Triggers)
  entry: python tools/pre_audit/smart_analyzer.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit
  additional_dependencies:
  - pyyaml>=6.0
  - anthropic>=0.25.0
  verbose: false
  args:
  - --quiet

no-hardcoded-secrets:
  name: Check for hardcoded secrets
  ...

no-print-statements:
  name: Check for print statements
  entry: python3 -c "import re, sys; content = sys.stdin.read(); sys.exit(1 if re.search(r'^\s*print\(', content, re.MULTILINE) else 0)"
  language: system

check-api-security:
  name: Check API security patterns
  ...

ban-test-masking:
  name: üö® Ban Dangerous Test Masking (|| true, etc.)
  entry: .github/scripts/ban-test-masking.py
  language: system
  args:
  - --strict
  pass_filenames: true

workflow-multi-layer-validation:
  name: üîß Multi-Layer Workflow Validation
  entry: .github/scripts/validate-workflow-layers.py
  language: system
  pass_filenames: false

workflow-execution-testing:
  name: üß™ Workflow Execution Testing
  entry: .github/scripts/test-workflow-execution.py
  language: system
  pass_filenames: false

Implement #86 (cont)
  app/api/endpoints/plugins.py
  app/api/endpoints/sessions.py
  issue_86_completion_report.md
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Fixing issues
  app/api/base.py
  app/api/deps.py
  app/api/endpoints/api_keys.py
  app/api/endpoints/auth_validated.py
  app/db/init_mfa_policies.py
  app/middleware/authentication.py
  app/middleware/oauth.py
  app/middleware/permissions.py
  app/services/api_key_service.py
  app/services/audit_service.py
  app/services/mfa_policy_service.py
  app/services/middleware_service.py
  app/services/user_service_impl.py
  tests/unit/services/test_audit_service.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Fix CI/CD failures
  .pre-commit-config.yaml
  app/services/mfa_service.py
  docs/testing/NFO/aiosqlite_import.json
  docs/testing/NFO/black_1.json
  docs/testing/NFO/gitpython_import.json
  docs/testing/NFO/greenlet_missing.json
  docs/testing/NFO/json_validation_1.json
  docs/testing/NFO/pytest_4.json
  docs/testing/NFO/pytest_fixture_scope.json
  docs/testing/comprehensive_test_failure_analysis.md
  docs/testing/fix/NFO_COMPREHENSIVE_FIX_REPORT.md
  docs/testing/fix/fix_aiosqlite_import.json.md
  docs/testing/fix/fix_black_1.json.md
  docs/testing/fix/fix_gitpython_import.json.md
  docs/testing/fix/fix_greenlet_missing.json.md
  docs/testing/fix/fix_json_validation_1.json.md
  docs/testing/fix/fix_pytest_4.json.md
  pytest.ini
  tests/conftest.py
  tests/unit/repositories/test_organization_filtering.py
  tests/unit/services/test_api_key_integration_basic.py
  tests/unit/services/test_api_key_secrets_integration.py
  tests/unit/services/test_api_key_service.py
  tools/pre_audit/git_history_parser.py
Due: validate-json-ci, architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking

Implement issue #87
  app/api/deps.py
  app/api/endpoints/health.py
  app/core/config.py
  app/core/container.py
  app/main.py
  app/middleware/security.py
  docker-compose.test.yml
  docs/architecture/ADRs/ADR-014_Repository_Container_Registration.md
  docs/issue87_comprehensive_todo_cache.md
  docs/planning/ISSUE_87/ISSUE_87_plan.md
  docs/reports/ISSUE_87_COMPLETION_REPORT.md
  docs/testing/COMPREHENSIVE_TEST_FAILURE_ANALYSIS.md
  docs/testing/comprehensive_test_failure_analysis.md
  tests/integration/test_startup.py
  tests/unit/core/test_container.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking

Implement issue #88
  app/middleware/security.py
  app/repositories/session.py
  docs/architecture/ADRs/ADR-015_Comprehensive_Unit_Testing.md
  docs/planning/ISSUE_88/ISSUE_88_plan.md
  docs/reports/ISSUE_88_COMPLETION_REPORT.md
  issue88_comprehensive_todo_cache.md
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/fixtures/model_factories.py
  tests/fixtures/repository_fixtures.py
  tests/fixtures/simple_factories.py
  tests/unit/repositories/test_api_key_repository.py
  tests/unit/repositories/test_audit_repository.py
  tests/unit/repositories/test_health_repository.py
  tests/unit/repositories/test_role_repository.py
  tests/unit/repositories/test_security_scan_repository.py
  tests/unit/repositories/test_session_repository.py
  tests/unit/repositories/test_user_repository.py
  tests/utils/__init__.py
  tests/utils/mock_repositories.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Implement issue #70
  ISSUE_70_COMPLETION_STATUS.md
  ISSUE_70_DETAILED_TODO_CACHE.md
  app/services/dependency_service.py
  app/utils/dependency_cache.py
  app/utils/performance_tracker.py
  docs/architecture/ADRs/ADR-015_PyTestArch_Performance_Optimization.md
  docs/planning/ISSUE_70/ISSUE_70_plan.md
  docs/reports/ISSUE_70_COMPLETION_REPORT.md
  tests/architecture/test_optimized_dependency_compliance.py
  tests/unit/utils/test_dependency_cache.py
  tests/unit/utils/test_performance_tracker.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Fix CI failed tests
  .gitignore
  .pre-commit-config.yaml
  app/api/endpoints/architectural_metrics.py
  app/api/endpoints/auth.py
  app/api/endpoints/reports.py
  app/api/endpoints/scans.py
  app/api/endpoints/tasks.py
  app/api/endpoints/templates.py
  app/api/endpoints/vulnerability_findings.py
  app/celery/tasks.py
  app/core/abac.py
  app/middleware/authentication.py
  app/models/mixins.py
  app/repositories/api_key.py
  app/repositories/security_scan.py
  app/repositories/vulnerability_finding.py
  app/schemas/oauth.py
  final_test_status_summary.md
  pyproject.toml
  scripts/health_check.py
  tests/unit/api/test_api_keys.py
  tests/unit/api/test_auth_endpoints_security.py
  tests/unit/api/test_sessions.py
  tests/unit/api/test_users.py
  tests/unit/middleware/test_request_signing_middleware.py
  tests/unit/models/test_user_comprehensive.py
  tests/unit/services/test_secure_api_key_service.py
  tests/unit/test_response_cache_middleware.py
  tests/unit/utils/test_monitoring.py
  tools/pre_audit/claude_code_auditor.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking

Delete bandit_results.json
  bandit_results.json
Due: validate-json-ci, no-hardcoded-secrets

Fix CI/CD failed tests
  app/api/deps.py
  app/api/endpoints/templates.py
  app/celery/tasks.py
  docs/testing/NFO/api_key_service_dependency_injection.json
  docs/testing/NFO/session_service_dependency_injection.json
  pr_check_cache.md
  requirements-dev.txt
  tests/unit/api/test_sessions.py
Due: validate-json-ci, architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Fix architectural failed tests
  .github/workflows/architectural-tests.yml
  app/api/deps.py
  app/services/plugin_service.py
  app/services/scan_service.py
  app/services/security_scan_service.py
  app/services/user_service_impl.py
  app/services/vulnerability_finding_service.py
  app/services/vulnerability_taxonomy_service.py
Due: validate-yaml-ci, architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Fix CI/CD failed checks
  .github/workflows/pr-validation.yml
  app/utils/dependency_cache.py
  tests/architecture/test_layer_boundaries.py
Due: validate-yaml-ci, architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Fix test failures in Windows env, fix failing tests, sync check tool versions
  .github/workflows/pr-validation.yml
  .pre-commit-config.yaml
  app/core/logging.py
  app/core/secrets_manager.py
  app/db/session.py
  app/middleware/security.py
  app/utils/dependency_cache.py
  requirements-dev.txt
  tests/architecture/test_adr_012_compliance.py
  tests/conftest.py
  tests/helpers/database.py
  tests/helpers/windows_compat.py
  tests/pytest_plugins/env_setup.py
  tests/setup_test_env.py
  tests/test_database.py
  tests/test_database_fixed.py
  tests/unit/core/test_secrets_manager.py
  tests/unit/db/test_session_comprehensive.py
  tests/unit/middleware/test_security_middleware.py
  tests/unit/repositories/test_api_key_repository.py
  tests/unit/test_windows_compat.py
Due: validate-yaml-ci, architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Fix issues with tests for Docker, tests for Ubuntu
  .flake8
  .github/workflows/pr-validation.yml
  app/models/role.py
  app/repositories/security_scan.py
  tests/fixtures/model_factories.py
  tests/fixtures/simple_factories.py
  tests/unit/repositories/test_api_key_repository.py
  tests/unit/utils/test_performance_tracker.py
Due: validate-yaml-ci, architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Diable flake8 rules that conflict with Black rules, fix issues with tests for Ubuntu
  .flake8
  app/repositories/api_key.py
  app/repositories/audit_log.py
  app/repositories/health.py
  app/services/mfa_service.py
  app/services/oauth_service.py
  pr_check_cache.md
  tests/fixtures/model_factories.py
  tests/unit/repositories/test_api_key_repository.py
  tests/unit/repositories/test_audit_repository.py
  tests/unit/test_middleware.py
  tests/unit/utils/test_dependency_cache.py
  tests/unit/utils/test_performance_tracker.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Improve test stability, remove cross-platform tests from PR checks
  .github/workflows/architectural-tests.yml
  .github/workflows/pr-validation.yml
  docs/testing/TEST_STABILITY_IMPROVEMENTS.md
  pytest-integration.ini
  tests/conftest_integration_stable.py
  tests/helpers/test_stability.py
  tests/integration/test_service_repository_integration.py
  tests/integration/test_service_repository_integration_stable.py
Due: validate-yaml-ci, architectural-analysis, no-hardcoded-secrets, check-api-security, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Improve Mypy test results, unit test results on Ubuntu
  app/middleware/security.py
  app/repositories/health.py
  app/repositories/role.py
  app/repositories/session.py
  app/repositories/user.py
  requirements.txt
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Fix remaining CI failures
  PR_READINESS_REPORT.md
  app/api/endpoints/health.py
  app/models/security_scan.py
  app/repositories/health.py
  app/repositories/role.py
  app/repositories/security_scan.py
  app/repositories/session.py
  app/utils/dependency_cache.py
  tests/fixtures/simple_factories.py
  tests/unit/repositories/test_health_repository.py
  tests/unit/repositories/test_role_repository.py
  tests/unit/repositories/test_security_scan_repository.py
  tests/unit/repositories/test_session_repository.py
  tests/unit/services/test_mfa_policy_service.py
  tests/unit/services/test_mfa_service.py
  tests/unit/services/test_oauth_service.py
  tests/unit/test_enhanced_health.py
  tests/unit/test_health_performance.py
  tests/unit/utils/test_dependency_cache.py
  tests/utils/api_key.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Update .flake8
  .flake8
Due: none

Fix CI failed tests
  app/models/api_key.py
  app/models/session.py
  tests/integration/test_service_repository_integration.py
  tests/unit/db/test_database_session_comprehensive.py
  tests/unit/db/test_db_session_comprehensive.py
  tests/unit/models/test_api_key_comprehensive.py
  tests/unit/test_enhanced_health.py
  tests/unit/test_health_performance.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Fix crypto issues
  .gitignore
  app/api/endpoints/api_keys.py
  app/api/endpoints/health.py
  app/repositories/role.py
  app/utils/sanitization.py
  requirements-test.txt
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Fix crypto issues (cont.)
  .github/workflows/ci.yml
  app/services/api_key_service.py
  app/services/mfa_service.py
  tests/api/test_api_keys_enhanced.py
  tests/utils/api_key.py
Due: validate-yaml-ci, architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Fix crypto (cont.)
  app/services/api_key_service.py
  app/services/health_service.py
  app/services/mfa_service.py
  tests/utils/api_key.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Fix crypto (cont.)
  .gitignore
  app/api/endpoints/architectural_metrics.py
  app/api/endpoints/health.py
  app/api/endpoints/oauth.py
  app/api/endpoints/plugins.py
  app/core/security.py
  app/middleware/response_cache.py
  app/repositories/api_key.py
  app/services/api_key_service.py
  app/services/api_key_service_simple.py
  app/services/mfa_service.py
  app/services/oauth_service.py
  app/utils/dependency_cache.py
  app/utils/safe_logging.py
  tests/unit/models/test_scan_models.py
  tools/pre_audit/reporting/security/input_validator.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Fix failing CI checks (cont.)
  app/api/endpoints/architectural_metrics.py
  app/api/endpoints/health.py
  app/api/endpoints/plugins.py
  app/core/safe_logging.py
  app/core/security.py
  app/services/oauth_service.py
  html_report_failure.txt
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Fix crypto (cont.)
  app/core/security.py
  tests/unit/services/test_oauth_service.py
  tests/unit/services/test_secure_api_key_service.py
  tools/pre_audit/reporting/security/input_validator.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Fix crypto (cont.)
  app/core/security.py
  app/repositories/api_key.py
  app/services/api_key_service_simple.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Minor fix
  analysis_cache.md
  app/api/deps.py
  app/api/endpoints/health.py
  app/core/security.py
  app/schemas/oauth.py
  tests/unit/services/test_api_key_service.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Fix vulnerabilities, add exemption to crypto flags
  app/api/endpoints/architectural_metrics.py
  app/api/endpoints/health.py
  app/api/endpoints/mfa.py
  app/api/endpoints/mfa_policies.py
  app/api/endpoints/oauth.py
  app/celery/tasks.py
  app/core/decorators/request_signing.py
  app/core/request_signing.py
  app/middleware/request_signing.py
  app/repositories/enhanced.py
  app/repositories/health.py
  app/repositories/role.py
  app/services/abac_service_impl.py
  app/services/rbac_service.py
  app/services/scheduled_report_service.py
  app/utils/dependency_cache.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Make crypto exemption
  app/api/endpoints/health.py
  app/api/endpoints/health_auth.py
  app/core/decorators/request_signing.py
  app/core/security.py
  app/middleware/request_signing.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Change hash crypto to Blake2
  app/api/endpoints/health.py
  app/core/security.py
  app/middleware/response_cache.py
  app/services/oauth_service.py
  app/utils/dependency_cache.py
  tests/integration/test_auth_integration.py
  tests/unit/services/test_oauth_service.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Fix CodeQL Issues.
  .github/workflows/architectural-compliance.yml
  .github/workflows/architectural-tests.yml
  app/api/endpoints/health.py
  app/api/endpoints/oauth.py
  app/core/security.py
  app/services/api_key_service.py
  app/services/dependency_service.py
  tests/api/test_api_keys_enhanced.py
  tests/unit/models/test_scan_models.py
  tests/unit/test_enhanced_config.py
  tools/pre_audit/reporting/security/input_validator.py
Due: validate-yaml-ci, architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Fix CodeQL issues (cont.)
  .github/workflows/architectural-tests.yml
  app/api/endpoints/health.py
  app/api/endpoints/tasks.py
  app/api/endpoints/vulnerability_findings.py
  app/celery/tasks.py
  app/core/container.py
  app/services/architectural_report_generator.py
  app/services/scheduled_report_service.py
  tests/api/test_api_keys_enhanced.py
  tests/integration/test_endpoint_authentication.py
  tests/unit/models/test_scan_models.py
  tests/unit/test_enhanced_config.py
  tools/pre_audit/reporting/security/input_validator.py
Due: validate-yaml-ci, architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Fix CodeQL issues (cont.)
  .github/workflows/architectural-tests.yml
  app/api/endpoints/health.py
  app/api/endpoints/oauth.py
  tools/pre_audit/reporting/security/input_validator.py
Due: validate-yaml-ci, architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Fix CodeQL issues (cont.)
  app/core/abac.py
  app/core/abac_permissions.py
  app/core/authority.py
  app/middleware/response_cache.py
  app/utils/validation.py
  tests/unit/core/test_abac_permissions.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Fix pre-commit formatting issues and security vulnerabilities
  alembic/versions/0d9d1d5fbe10_initial_database_models_with_.py
  alembic/versions/add_async_task_management_models.py
  alembic/versions/add_vulnerability_management_tables.py
  app/api/base.py
  app/api/deps.py
  app/api/endpoints/api_keys.py
  app/api/endpoints/audit_logs.py
  app/api/endpoints/auth_validated.py
  app/api/endpoints/health.py
  app/api/endpoints/health_auth.py
  app/api/endpoints/mfa.py
  app/core/abac_permissions.py
  app/core/config.py
  app/repositories/audit_log.py
  app/utils/email.py
  tests/unit/core/test_abac_permissions.py
  tests/unit/core/test_core_rate_limiting.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Fix issues (cont.)
  app/utils/monitoring.py
  tests/unit/pre_audit/reporting/test_input_validator.py
  tests/unit/utils/test_monitoring.py
  tools/pre_audit/reporting/security/input_validator.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Add documentations
  docs/planning/database_management_api_implementation_plan.md
  docs/planning/database_management_api_implementation_plan_v2_adr_compliant.md
  docs/planning/generalized-database-audit-plan.md
Due: none

Ad DB audit and improve plan details
  docs/planning/dbAudit_Sep2025_0_architectureIdentification_plan.md
  docs/planning/dbAudit_Sep2025_1_discovery-n-inventory_plan.md
  docs/planning/dbAudit_Sep2025_2_DependencyMapping_plan.md
  docs/planning/dbAudit_Sep2025_3_ConfigurationReview_plan.md
  docs/planning/dbAudit_Sep2025_4_BackupRecovery_plan.md
  docs/planning/dbAudit_Sep2025_5_PerformanceHealthMonitoring_plan.md
  docs/planning/dbAudit_Sep2025_6_SecurityAccessControl_plan.md
  docs/planning/dbAudit_Sep2025_7_ChangeIncidentManagement_plan.md
  docs/planning/dbAudit_Sep2025_8_ContinuousImprovement_plan.md
Due: none

Path conditions:
  validate-yaml-ci: any of: \.github/workflows/.*\.yml$
  validate-json-ci: any of: \.json$
  architectural-analysis: any of: \.py$
  no-hardcoded-secrets: any of: \.(py|js|ts|jsx|tsx|java|go|rb|php|yml|yaml|json|env|sh|bash)$, but not: (venv/|htmlcov/|__pycache__/|\.git/|\.mypy_cache/|backups/|test_env/|\.example|\.template|test_|_test\.|spec_|_spec\.).*
  no-print-statements: any of: \.py$, but not: (venv/|htmlcov/|__pycache__/|\.git/|\.mypy_cache/|backups/|test_env/|test_|_test\.py|debug|scripts/)
  check-api-security: any of: \.py$
  ban-test-masking: any of: \.(yml|yaml|sh|bash|Makefile)$|^\.github/workflows/|^scripts/
  workflow-multi-layer-validation: any of: ^\.github/workflows/.*\.ya?ml$
  workflow-execution-testing: any of: ^\.github/workflows/.*\.ya?ml$
