Repository GSA-TTS/violentutf-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-yaml-ci, validate-json-ci, architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

validate-yaml-ci:
  name: Validate YAML (matches CI)
  ...

validate-json-ci:
  name: Validate JSON (matches CI)
  ...

architectural-analysis:
  name: üèõÔ∏è Architectural Compliance Check (Smart Triggers)
  entry: python tools/pre_audit/smart_analyzer.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit
  additional_dependencies:
  - pyyaml>=6.0
  - anthropic>=0.25.0
  verbose: false
  args:
  - --quiet

no-hardcoded-secrets:
  name: Check for hardcoded secrets
  ...

no-print-statements:
  name: Check for print statements
  entry: python3 -c "import re, sys; content = sys.stdin.read(); sys.exit(1 if re.search(r'^\s*print\(', content, re.MULTILINE) else 0)"
  language: system

check-api-security:
  name: Check API security patterns
  ...

ban-test-masking:
  name: üö® Ban Dangerous Test Masking (|| true, etc.)
  entry: .github/scripts/ban-test-masking.py
  language: system
  args:
  - --strict
  pass_filenames: true

workflow-multi-layer-validation:
  name: üîß Multi-Layer Workflow Validation
  entry: .github/scripts/validate-workflow-layers.py
  language: system
  pass_filenames: false

workflow-execution-testing:
  name: üß™ Workflow Execution Testing
  entry: .github/scripts/test-workflow-execution.py
  language: system
  pass_filenames: false

Implement issue #118
  docs/development/issue_118/ISSUE_118_development_report.md
  docs/development/issue_118/architecture_diagrams.md
  docs/development/issue_118/database_component_catalog.md
  docs/development/issue_118/gap_analysis_recommendations.md
  docs/development/issue_118/violentutf_database_architecture_analysis.md
Due: none

Fix bugs
  .github/workflows/pr-validation.yml
  app/api/endpoints/health.py
  app/api/endpoints/scans.py
  app/api/endpoints/tasks.py
  app/repositories/base.py
  tools/pre_audit/pattern_analyzer.py
Due: validate-yaml-ci, architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Update .flake8
  .flake8
Due: none

Implement issue #119
  docs/development/issue_119/Gap_Analysis_Report.md
  docs/development/issue_119/ISSUE_119_development_report.md
  docs/development/issue_119/ISSUE_119_final_completion_report.md
  docs/inventory/master_inventory_20250919_135410.json
  tests/issue_119_tests.md
  tests/test_issue_119_repository_analyzer.py
  tests/test_issue_119_schema_discovery.py
  tests/test_issue_119_security_classification.py
  tools/inventory/data_asset_inventory.py
  tools/inventory/repository_analyzer.py
  tools/inventory/schema_discovery.py
  tools/inventory/security_classification.py
Due: validate-json-ci, architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Implement #120
  docs/dependencies/application_dependencies.dot
  docs/dependencies/application_dependencies.json
  docs/dependencies/application_dependencies.mmd
  docs/dependencies/application_dependencies.puml
  docs/dependencies/comprehensive_analysis.json
  docs/dependencies/database_dependencies.dot
  docs/dependencies/database_dependencies.json
  docs/dependencies/database_dependencies.mmd
  docs/dependencies/database_dependencies.puml
  docs/dependencies/dependency_analysis_report.md
  docs/dependencies/service_dependencies.dot
  docs/dependencies/service_dependencies.json
  docs/dependencies/service_dependencies.mmd
  docs/dependencies/service_dependencies.puml
  docs/development/issue_120/ISSUE_120_development_report.md
  docs/development/issue_120/ISSUE_120_summary.md
  tests/issue_120_tests.md
  tests/unit/tools/__init__.py
  tests/unit/tools/test_runtime_tracer.py
  tests/unit/tools/test_static_analyzer.py
  tools/dependency/__init__.py
  tools/dependency/comprehensive_analyzer.py
  tools/dependency/graph_generator.py
  tools/dependency/repository_analyzer.py
  tools/dependency/runtime_tracer.py
  tools/dependency/static_analyzer.py
Due: validate-json-ci, architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security

Implement #121
  app/core/config.py
  docs/development/issue_121/ISSUE_121_development_report.md
  docs/development/issue_121/issue_121_plan.md
  scripts/__init__.py
  scripts/config_baseline_manager.py
  scripts/config_drift_detector.py
  tests/integration/test_config_end_to_end.py
  tests/issue_121_tests.md
  tests/unit/test_config_baseline_manager.py
  tests/unit/test_config_drift_detector.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking

Implement #122
  app/services/backup_monitoring_service.py
  app/services/health_service.py
  docs/development/issue_122/ISSUE_122_development_report.md
  docs/development/issue_122/issue_122_plan.md
  scripts/backup_coverage_audit.py
  scripts/postgres_backup.py
  scripts/pyrit_migration.py
  scripts/redis_backup.py
  scripts/rto_rpo_validator.py
  test_backup.rdb.metadata
  test_backup.sql.gz.metadata
  tests/integration/recovery/test_rto_rpo_validation.py
  tests/issue_122_tests.md
  tests/unit/backup/test_backup_coverage_audit.py
  tests/unit/backup/test_postgres_backup.py
  tests/unit/backup/test_redis_backup.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking

Implement #123
  app/api/endpoints/health.py
  app/repositories/base.py
  app/services/performance_alerting_service.py
  app/services/performance_baseline_service.py
  app/utils/monitoring.py
  docs/development/issue_123/ISSUE_123_development_report.md
  scripts/index_analyzer.py
  scripts/query_analyzer.py
  tests/issue_123_tests.md
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking

Improve codes and perform Epic completion assessment
  app/services/compliance_service.py
  app/services/security_audit_service.py
  app/services/security_monitoring_service.py
  app/utils/encryption.py
  docs/development/issue_124/ISSUE_124_development_report.md
  docs/development/issue_124/issue_124_plan.md
  docs/reports/dbAudit_SEP25_FINAL_comprehensive_audit_report.md
  docs/reports/dbAudit_SEP25_code_inefficiencies_bloat_report.md
  docs/reports/dbAudit_SEP25_corrected_comprehensive_analysis.md
  docs/reports/dbAudit_SEP25_documentation_issues_report.md
  docs/reports/dbAudit_SEP25_implementation_gaps_report.md
  docs/reports/dbAudit_SEP25_implementation_gaps_report_CORRECTED.md
  docs/reports/dbAudit_SEP25_inconsistencies_report.md
  docs/reports/dbAudit_SEP25_optimization_opportunities_report.md
  scripts/access_audit.py
  scripts/security_gap_analyzer.py
  tests/integration/test_issue_124_integration.py
  tests/issue_124_tests.md
  tests/unit/scripts/test_access_audit.py
  tests/unit/services/test_security_audit_service.py
  tests/unit/services/test_security_monitoring_service.py
  tests/unit/utils/test_encryption.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking

Implement #137
  .pre-commit-config.yaml
  docs/development/issue_137/ISSUE_137_FINAL_development_report.md
  docs/development/issue_137/ISSUE_137_development_report.md
  docs/development/issue_137/aggressive_profiler.py
  docs/development/issue_137/focused_benchmark.py
  docs/development/issue_137/issue_137_plan.md
  docs/development/issue_137/simple_benchmark.py
  docs/development/issue_137/testresults.md
  docs/development/issue_137/ultra_aggressive_benchmark.py
  requirements.txt
  scripts/backup_coverage_audit.py
  scripts/config_baseline_manager.py
  tests/performance/issue_137/benchmarks/performance_comparison.py
  tests/performance/issue_137/test_algorithm_optimization.py
  tests/performance/issue_137/test_caching_layer.py
  tests/performance/issue_137/test_memory_optimization.py
  tests/performance/issue_137/test_parallel_execution.py
  tools/dependency/comprehensive_analyzer.py
  tools/inventory/data_asset_inventory.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking

Implement #138
  docs/development/issue_138/ISSUE_138_development_report.md
  scripts/config_baseline_manager.py
  tests/issue_138_tests.md
  tests/unit/security/test_issue_138_security.py
Due: architectural-analysis, no-hardcoded-secrets, check-api-security, ban-test-masking

Implement #139
  audit_utils/__init__.py
  audit_utils/config.py
  audit_utils/exceptions.py
  audit_utils/file_operations.py
  audit_utils/logging.py
  docs/development/issue_139/ISSUE_139_development_report.md
  docs/development/issue_139/ISSUE_139_development_report_final.md
  docs/development/issue_139/issue_139_plan.md
  issue_139_completion_report.md
  scripts/access_audit.py
  scripts/backup_coverage_audit.py
  scripts/config_baseline_manager.py
  scripts/config_drift_detector.py
  scripts/index_analyzer.py
  scripts/postgres_backup.py
  scripts/redis_backup.py
  scripts/security_gap_analyzer.py
  tests/unit/audit_utils/__init__.py
  tests/unit/audit_utils/test_config.py
  tests/unit/audit_utils/test_exceptions.py
  tests/unit/audit_utils/test_file_operations.py
  tests/unit/audit_utils/test_logging.py
  tools/inventory/data_asset_inventory.py
  tools/inventory/repository_analyzer.py
  tools/inventory/schema_discovery.py
  tools/inventory/security_classification.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking

Implement #140
  audit_utils/database.py
  audit_utils/logging.py
  audit_utils/models.py
  docs/development/issue_140/ISSUE_140_development_report.md
  docs/development/issue_140/issue_140_plan.md
  scripts/backup_coverage_audit.py
  scripts/config_baseline_manager.py
  tests/issue_140_tests.md
  tests/unit/audit_utils/test_architecture_standardization.py
  tools/dependency/comprehensive_analyzer.py
  tools/inventory/data_asset_inventory.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking

Implement #141
  docs/audit-tools/api-reference/backup-tools.md
  docs/audit-tools/api-reference/configuration-tools.md
  docs/audit-tools/api-reference/dependency-analysis.md
  docs/audit-tools/api-reference/inventory-tools.md
  docs/audit-tools/examples/automated-monitoring.md
  docs/audit-tools/examples/complete-audit-scenario.md
  docs/audit-tools/examples/configuration-samples/audit-config.yaml
  docs/audit-tools/examples/configuration-samples/development.yaml
  docs/audit-tools/examples/configuration-samples/docker-compose.audit.yml
  docs/audit-tools/examples/configuration-samples/production.yaml
  docs/audit-tools/examples/security-classification.md
  docs/audit-tools/integration-guides/configuration-guide.md
  docs/audit-tools/integration-guides/docker-integration.md
  docs/audit-tools/integration-guides/execution-workflows.md
  docs/audit-tools/integration-guides/setup-and-installation.md
  docs/audit-tools/notebooks/advanced-configuration.ipynb
  docs/audit-tools/notebooks/interactive-audit-tutorial.ipynb
  docs/audit-tools/troubleshooting/common-issues.md
  docs/audit-tools/troubleshooting/error-reference.md
  docs/audit-tools/troubleshooting/performance-tuning.md
  docs/development/issue_141/ISSUE_141_development_report.md
  docs/development/issue_141/issue_141_plan.md
  scripts/config_drift_detector.py
  tests/documentation/test_api_documentation_completeness.py
  tests/documentation/test_documentation_structure.py
  tests/issue_141_tests.md
Due: architectural-analysis, no-hardcoded-secrets, check-api-security, ban-test-masking

Fix bugs
  app/api/deps.py
  app/api/endpoints/reports.py
  app/api/endpoints/vulnerability_findings.py
  app/core/container.py
  app/services/dependency_service.py
  pytest.ini
  scripts/backup_coverage_audit.py
  tests/integration/recovery/test_rto_rpo_validation.py
  tests/unit/audit_utils/test_config.py
  tests/unit/backup/test_backup_coverage_audit.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking

Fix PR errors
  app/models/user.py
  app/services/security_audit_service.py
  audit_utils/logging.py
  audit_utils/models.py
  scripts/backup_coverage_audit.py
  scripts/postgres_backup.py
  tests/test_issue_119_schema_discovery.py
  tests/unit/audit_utils/test_architecture_standardization.py
  tests/unit/backup/test_backup_coverage_audit.py
  tests/unit/backup/test_postgres_backup.py
  tests/unit/test_config_drift_detector.py
  tests/unit/tools/__init__.py
  tools/dependency/__init__.py
Due: architectural-analysis, no-hardcoded-secrets, no-print-statements, check-api-security, ban-test-masking

Update Trivy GHA past compromised versions
  .github/workflows/security.yml
Due: validate-yaml-ci, no-hardcoded-secrets, ban-test-masking, workflow-multi-layer-validation, workflow-execution-testing

Path conditions:
  validate-yaml-ci: any of: \.github/workflows/.*\.yml$
  validate-json-ci: any of: \.json$
  architectural-analysis: any of: \.py$
  no-hardcoded-secrets: any of: \.(py|js|ts|jsx|tsx|java|go|rb|php|yml|yaml|json|env|sh|bash)$, but not: (venv/|htmlcov/|__pycache__/|\.git/|\.mypy_cache/|backups/|test_env/|\.example|\.template|test_|_test\.|spec_|_spec\.).*
  no-print-statements: any of: \.py$, but not: (venv/|htmlcov/|__pycache__/|\.git/|\.mypy_cache/|backups/|test_env/|test_|_test\.py|debug|scripts/)
  check-api-security: any of: \.py$
  ban-test-masking: any of: \.(yml|yaml|sh|bash|Makefile)$|^\.github/workflows/|^scripts/
  workflow-multi-layer-validation: any of: ^\.github/workflows/.*\.ya?ml$
  workflow-execution-testing: any of: ^\.github/workflows/.*\.ya?ml$
